@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    text-align: right;
}

.bg-primary {
    background-color: #ff385c;
}

.text-primary {
    color: #ff385c;
}
